@model WhatsYummy.Models.Horario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoraAbertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraAbertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFecho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFecho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estabelecimento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estabelecimento.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
