@model WhatsYummy.Models.Horario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoraAbertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraAbertura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFecho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFecho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Dia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
