@model WhatsYummy.Models.UtilizadorProduto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UtilizadorProduto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Favorito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Favorito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizador.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
